# gdown
# fastapi
# uvicorn
# faiss-cpu
# python-dotenv
# marisa-trie
# h5py
# psutil
google-api-python-client
# youtube-dl

git+https://github.com/ytdl-org/youtube-dl.git@master#egg=youtube_dl
# pafy
# youtube-dl